@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --fontcolormain: rgba(250,250,250,1);
    --fontcolordarkm: rgba(5,5,5,1);
    --contacto:rgba(45,45,45,1);
    --btncolor: rgba(20,20,20,1);
    --btncolordarkm: rgba(250,250,250,1);
}

.contenedor {
    width: 95%;
    margin:10px auto;
    padding: 10px;
}

h2, h3 {
    text-align: center;
    color: var(--fontcolormain);
}

#contacto {
    width: 80%;
    margin:10px auto;
    padding: 10px;
}

fieldset { /* borde y espaciado */
    border-style: dashed;
    border-radius: 5%;
    border-color: var(--colorresaltado);
    padding: 5%;
}


input, textarea { /* alargar y cambiar color de fondo y de texto */
    display: block;
    width: 95%;
    background-color: var(--colorcajas); 
    color: var(--colorresaltado);
    margin: 10px auto;
}


#input-enviar {
    border-radius: 0.5rem;
    text-decoration: none;

    font-weight: bold;
    font-family: "Staatliches", sans-serif;

    color: var(--fontcolormain);
    background-color: var(--btncolor);
    padding: 10px;
}

#input-enviar:hover {
    transition: 1s;
    color: var(--fontcolordarkm);
    background-color: var(--btncolordarkm);
}