h1, h2, h3, p {
    text-align: center;
    color: white;
    width:100%;
}

hr {
    display: block;
    margin: auto;
    width: 90%;
    border-color: white;
}

.seccion-servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.tarjeta {
    display: flex;
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
}



.seccion-tematica {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

.contenedor-tematica {
    width: 60%;
    padding: 1rem;
}

.imagen-tematica {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}
.imagen-tematica img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}