h1, h2, h3, p {
    text-align: center;
    color: white;
}

.seccion-servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.tarjeta {
    display: flex;
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
}

hr {
    display: block;
    margin: auto;
    width: 85%;
}

.seccion-tematica {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

